<h1><%= @list.name %></h1>

<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li>
      <%= bookmark.movie.title %> |
      <%= bookmark.comment %> |
      <%= link_to bookmark_path(bookmark), data: {
        turbo_method: "delete",
        turbo_confirm: "are you sure?"
      } do %>
        <i class="fa-regular fa-trash-can"></i>
      <% end %>
      </li>
  <% end %>

</ul>


<div class="btn btn-outline-secondary" style="text-decoration:none" >
<%= link_to "Create Bookmarks", new_list_bookmark_path(@list),  :class => "btn" %>
</div>
<div class="btn btn-outline-info">
<%= link_to "All lists", root_path, :class => "btn"%>
</div>
